<h1><%= @product.title %></h1>


<p>Product Description: <br/><%= @product.description %></p>
<p>Product Price: <br/><%= number_to_currency(@product.price) %></p>

<div>
  <small>
    Created
    <%= time_ago_in_words(@product.created_at) %>
    ago
  </small>
  •
  <small>
    Page last edited
    <%= time_ago_in_words(@product.updated_at) %>
    ago
  </small>
  <small>by <strong><%= "#{@product.user.first_name} #{@product.user.last_name}" %></strong></small>
</div>

<div>
  <% if can?(:manage, @product) %>
  <%= link_to 'Update', edit_product_path(@product)%>
  <%= link_to 'Delete', product_path(@product),
    method: :delete,
    data: {
      confirm: 'Are you sure?'
    }
   %>
   <% end %>
</div>

<%= form_for [@product, @review] do |f| %>
  <% if @review.errors.present? %>
  <p>
    <%= @review.errors.full_messages.join(', ') %>
  </p>
  <% end %>


  <h2>Add Review </h2>
  <div>
    <%= f.label :rating %> <br>
    <%= f.number_field(:rating, in: 1..5, step: 1, placeholder: '') %>
  </div>
  <div>
    <%= f.label :body %> <br>
    <%= f.text_field :body %>
  </div>
  <%= f.submit "Send Review" %>
<% end %>

  <h2>Reviews</h2>
<% @reviews.each do |review| %>
  <% if review.hidden %>
    <% if can?(:manage, @product) %>
      <div class="review-list-item hidden">
        <p>Rating: <%= review.rating %>/5
          <% if can?(:manage, @product) %>
          <small><%= link_to "Toggle Hide", hide_review_path(review), method: :patch %></small>
          <% end %>
          <% if can?(:destroy, review) %>
          <small><%= link_to "Delete", review_path(review), method: :delete %></small>
          <% end %>

        </p>
        <p><%= review.body %></p>
        <small>Review made <%= time_ago_in_words(review.created_at) %> ago</small>
        <small> by <%= "#{review.user.first_name} #{review.user.last_name}" %> </small>
      </div>
    <% end %>
  <% else %>
    <div class="review-list-item">
      <p>Rating: <%= review.rating %>/5
        <% if can?(:manage, @product) %>
        <small><%= link_to "Toggle Hide", hide_review_path(review), method: :post %></small>
        <% end %>
        <% if can?(:destroy, review) %>
        <small><%= link_to "Delete", review_path(review), method: :delete %></small>
        <% end %>

      </p>
      <p><%= review.body %></p>
      <small>Review made <%= time_ago_in_words(review.created_at) %> ago</small>
      <small> by <%= "#{review.user.first_name} #{review.user.last_name}" %> </small>
    </div>
  <% end %>

<% end %>
