<h1><%= @product.title %></h1>

<div class="tag-containers">
  <% @product.tags.order(:name).each do |tag| %>
    <%= link_to tag.name, tag_path(tag), class: "badge badge-pill badge-primary" %>
  <% end %>
</div>
<p>Product Description: <br/><%= @product.description %></p>
<p>Product Price: <br/><%= number_to_currency(@product.price) %></p>

<%= image_tag @product.image.url(:medium) if @product.image.present? %>

<div>
  <small>
    Created
    <%= time_ago_in_words(@product.created_at) %>
    ago
  </small>
  •
  <small>
    Page last edited
    <%= time_ago_in_words(@product.updated_at) %>
    ago
  </small>
  <small>by <strong><%= "#{@product.user.first_name} #{@product.user.last_name}" %></strong></small>
</div>

<div>
  <% if can?(:crud, @product) %>
  <%= link_to 'Update', edit_product_path(@product)%>
  <%= link_to 'Delete', product_path(@product),
    method: :delete,
    data: {
      confirm: 'Are you sure?'
    }
   %>
   <% end %>
</div>
<% if @favourite.present? %>
  <%= link_to fa_icon('heart 2x'), favourite_path(@favourite), method: :delete %>
<% else %>
  <%= link_to fa_icon('heart-o 2x'), product_favourites_path(@product), method: :post %>
<% end %>

<div class="faqs-container">
  <h3>Frequently Asked Questions</h3>
  <% @product.faqs.each do |faq| %>
    <p><strong> Question: <%= faq.question %> </strong></p>
    <p> Answer: <%= faq.answer %> </p>
  <% end %>
</div>

<%= simple_form_for [@product, @review] do |f| %>

<h2>Add Review </h2>
<%= f.input(:rating, in: 1..5, step: 1, placeholder: '') %>
<%= f.input :body %>
<%= f.submit "Send Review" %>
<% end %>

<h2>Reviews</h2><hr>
<% @reviews.each do |review| %>

  <% if review.hidden %>
    <% if can?(:crud, @product) %>
      <div class="review-list-item semi-hidden">
    <% else %>
      <div class="review-list-item hidden">
    <% end %>
  <% else %>
      <div class="review-list-item">
  <% end %>

        <p>Rating: <%= review.rating %>/5
          <small><%= link_to "Toggle Hide", hide_review_path(review), method: :patch %></small>
          <% if can?(:destroy, review) %>
            <small><%= link_to "Delete", review_path(review), method: :delete %></small>
          <% end %>
        </p>
        <p><%= review.body %></p>
        <small>Review made <%= time_ago_in_words(review.created_at) %> ago</small>
        <small> by <%= "#{review.user.first_name} #{review.user.last_name}" %> </small>
        <br>

        <div class="like-spot">
          <% like = review.likes.find_by(user: current_user) %>
          <% if like.present? %>
            <%= link_to fa_icon('check-circle'), like_path(like), method: :delete %>
          <% else %>
            <%= link_to fa_icon('circle-o'), review_likes_path(review), method: :post %>
          <% end %>
          <span><%= pluralize(review.likes.count, 'user') %> liked this</span>
        </div>

        <div class="vote-spot">
          <% vote = review.votes.find_by(user:current_user) %>
          <% if vote.nil? %>
            <%= link_to fa_icon('arrow-circle-o-up 2x'), review_votes_path(review, {choice: true}), method: :post %>
            <%= review.vote_total %>
            <%= link_to fa_icon('arrow-circle-o-down 2x'), review_votes_path(review, {choice: false}), method: :post %>
          <% elsif vote.choice? %>
            <%= link_to fa_icon('arrow-circle-up 2x'), vote_path(vote), method: :delete %>
            <%= review.vote_total %>
            <%= link_to fa_icon('arrow-circle-o-down 2x'), vote_path(vote, {choice: false}), method: :patch %>
          <% else %>
            <%= link_to fa_icon('arrow-circle-o-up 2x'), vote_path(vote, {choice: true}), method: :patch %>
            <%= review.vote_total %>
            <%= link_to fa_icon('arrow-circle-down 2x'), vote_path(vote), method: :delete %>
          <% end %>

        </div>

        <hr>
      </div>

<% end %>
