<h1><%= @product.title %></h1>


<p>Product Description: <br/><%= @product.description %></p>
<p>Product Price: <br/><%= number_to_currency(@product.price) %></p>

<div>
  <small>
    Created
    <%= time_ago_in_words(@product.created_at) %>
    ago
  </small>
  •
  <small>
    Page last edited
    <%= time_ago_in_words(@product.updated_at) %>
    ago
  </small>
</div>

<div>
  <%= link_to 'Update', edit_product_path(@product)%>
  <%= link_to 'Delete', product_path(@product),
    method: :delete,
    data: {
      confirm: 'Are you sure?'
    }
   %>
</div>
