<!DOCTYPE html>
<html>
  <head>
    <title>AmazonClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="container-fluid">
      <%= link_to 'Amazon', root_path %>
      <%= link_to 'About', about_path %>
      <%= link_to 'Add Product', new_product_path %>
      <%= link_to 'Products Page', products_path %>
      <%= link_to 'Contact', contact_path %>

      <% if user_signed_in? %>
      <%= link_to 'Sign Out', session_path, method: :delete %>
        <span> Hiya, <%= current_user.first_name %> </span>
        <%= link_to 'Favourites', user_favourites_path(current_user) %>
        <% if current_user.is_admin? %>
          <%= link_to 'Admin Panel', admin_panel_index_path %>
        <% end %>
      <% else %>
        <%= link_to 'Sign In', new_session_path %>
        <%= link_to 'Sign Up', new_user_path %>
      <% end %>
      <hr>
    </nav>

    <% if flash[:notice].present? || flash[:alert].present? %>
    <div class="flash-message">
      <%= flash[:notice] || flash[:alert] %>
    </div>
    <% end %>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
